<!--マイ―ジへのリンク-->
<ul id="nav">
 <li id="mypage"><%= link_to 'MyPage', edit_user_path(@users) %></li>
 <li id="title"><%=@user.name%>さんのマイページ</li>
 <li id="question"><%= link_to 'Question', users_path(@question) %></li>
</ul>
<p id="notice"><%= notice %></p>
<!-- □には合計回答数-->
<p>現在<!-- <%=@answer_id%> -->題解答中</p>
<div id = "mymenu">
 <ul>
  <!-- <li>履歴</li> -->
  <button type="button" name="log" value="a">
  <font size="2">履歴</font>
  </button>
  <!-- <li>お気に入り</li> -->
  <button type="button" name="fav" value="a">
  <font size="2">お気に入り</font>
  </button>
  <!-- <li>設定</li> -->
  <button type="button" name="set" value="a">
  <font size="2">設定</font>
  </button>
  <!-- <li>ヘルプ</li> -->
  <button type="button" name="hlp" value="a">
  <font size="2">ヘルプ</font>
  </button>
 </ul>
</div>
<div id = "mycontents">
 <p>
  <!--メニューで選択された画面を表示します。Javascriptを使います-->
  <p>0<br /></p><p>0<br /></p><p>0<br /></p>
<p>0<br /></p><p>0<br /></p><p>0<br /></p>
<p>0<br /></p><p>0<br /></p><p>0<br /></p>
<p>0<br /></p><p>0<br /></p><p>0<br /></p>
<p>0<br /></p><p>0<br /></p><p>0<br /></p>
<p>0<br /></p><p>0<br /></p><p>0<br /></p>
<p>0<br /></p><p>0<br /></p><p>0<br /></p>
<p>0<br /></p><p>0<br /></p><p>0<br /></p>
<p>0<br /></p><p>0<br /></p><p>0<br /></p>
<p>0<br /></p><p>0<br /></p><p>0<br /></p>
<p>0<br /></p><p>0<br /></p><p>0<br /></p>
<p>0<br /></p><p>0<br /></p><p>0<br /></p>
<p>0<br /></p><p>0<br /></p><p>0<br /></p>
 </p>
</div>
<div id="sita">
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
<%= link_to  'Logout' ,{controller => "sessions", :action => "destroy", :method => :delete}%>
</div>
