<p id="notice"><%= notice %></p>

<p>
  <strong>今日のお題:</strong><br />
  <div id="odai"><%= @odai.contents %></div> 
</p>
<p>
	<strong>自分の解答</strong><br />
	<!--ここに自分の解答を入れます-->
	<%= @answer.contents %>
</p>

<p>
  <strong>みんなの解答:</strong><br />
  <!--並び替え-->
  <!--お気に入り-->
  <!--他の人のユーザーID-->
  <%= @answer.user_id %><br />
  <!--みんなの解答-->
  <%= @answer.quiz_id %>
</p>

<%= link_to 'Edit', edit_answer_path(@answer) %>