<!--マイ―ジへのリンク-->
<ul id="nav">
 <!--<li id="mypage"><%= link_to 'MyPage', edit_user_path(@users) %></li>-->
 <li id="mypage"><%= link_to image_tag('mag_w.png', {:border=>'0',:alt=>'マイページ',:size=>"30x30"}), @current_user %>
 <li id="title">今日のお題と回答</li>
 <li id="question"><%= link_to 'Question', users_path(@question) %></li>
</ul>

<div id="odai"><%= @odai.contents %></div> 

<p>
	<strong>自分の解答</strong><br />
	<!--ここに自分の解答を入れます-->
	<%= @answer.contents %>
</p>

<p>
  <strong>みんなの解答:</strong><br />
  <% @answers.each do |answer| %>
  <!--並び替え-->
  <!--お気に入り-->
  <!--他の人のユーザーID-->
    <strong><%= answer.user.name %></strong>:
  <!--みんなの解答-->
    <%= answer.contents %></br>
  <% end %>
</p>

<%= link_to 'Edit', edit_answer_path(@answer) %>